
<head><title>Events</title></head>


  <form ng-submit="$ctrl.submit()">
<label>Service Provider Name: <input type="text"  required ng-model="$ctrl.event.sp_name"></label>
<br><br><label>Title: <input type="text" required ng-model="$ctrl.event.title"></label>
 <br><br><label>Date: <input type="text" required ng-model="$ctrl.event.date"></label>
 <br><br><label>Description: <input type="text" style=" height: 400px; width:500px;" required ng-model="$ctrl.event.description"></label>
 <br><br> <input type="submit" style=" height: 60px; width:80px;" value="Submit">
  </form>