<head><title>Review</title></head>

<div class="app-review">
 <form ng-submit="$ctrl.addReview()">

  
<br><br><label>Rate (from 0 to 5!): <input  required ng-model="$ctrl.rate"></label>

<br><br>  Review:  &emsp;
  <textarea ID="area" class="in" required ng-model="$ctrl.review"  
  style=" height: 200px; width:400px;"> 
</textarea> &emsp;&emsp;
<input  type= "submit"   value = "Submit " style=" height: 60px; width:125px;" >

  </form>
 

 <div ng-show="$ctrl.loading">
   <p> 
     Details of last comment :
     <br> 
      
     review  :  {{$ctrl.thisreview}} ,
     rate  :  {{$ctrl.thisrate}},
     
   </p>
   

 </div>

 
</div>