<body>

<h1>{{$ctrl.headings}}</h1>

<div class= "app-schedule" 
<from>
name: <br>
<input type="text" ng-model="$ctrl.name"><br>
username: <br>
<input type="text" ng-model="$ctrl.username"><br>
password: <br>
<input type="text" ng-model="$ctrl.password"><br>
category: <br>
<input type="text" ng-model="$ctrl.category"><br>
ServiceOffered: <br>
<input type="text" ng-model="$ctrl.serviceoffered"><br>
schedule: <br>
<input type="text" ng-model="$ctrl.schedule"><br>
<button ng-click=$ctrl.updateprofile()>updateprofile"><br>"
<!--<button type="update" class="btn btn-primary btn-lg" ng-click="updateSchedule()">Add</button>-->

</from>
</div>
