<body>

<h1>{{$ctrl.headings}}</h1>

<div class= "app-schedule" 
<from>
sp_name: <br>
<input type="text" ng-model="$ctrl.sp_name"><br>

details: <br>
<input type="text" ng-model="$ctrl.details"><br>
<button ng-click=$ctrl.editSchedule()>editSchedule"><br>"
<!--<button type="update" class="btn btn-primary btn-lg" ng-click="updateSchedule()">Add</button>-->

</from>
</div>









<!--<body>

<h1>{{$ctrl.headings}}</h1>

<div class= "app-schedule" 

<button type="update" class="btn btn-primary btn-lg" ng-click="updateSchedule()">Add</button>
</div>

</div>
</body>-->
