
<head><title>Schedule</title></head>


 <form ng-submit="$ctrl.addSchedule()">
    
<label>Service Provider Name: <input type="text"  required ng-model="$ctrl.sp_name"></label>

 <br><br><label>Please Enter schedule of your classes here : <input type="text" style=" height: 400px; width:500px;" required ng-model="$ctrl.details"></label>
&emsp; &emsp; &emsp; &emsp; <input type= "submit"  value = "Add Schedule " style=" height: 70px; width:120px;"   >

  </form>

 <div ng-show="$ctrl.loading">
 <p> Schedule posted : {{$ctrl.viewSchedule}}</p>
 <div> </div> 
  </div>



 
