<head><title>Events</title></head>

<div class="app-event">
 <form ng-submit="$ctrl.addRow()">

  <label>Service Provider Name: <input type="text"  required ng-model="$ctrl.sp_name"></label>
<br><br><label>Title: <input  required ng-model="$ctrl.title"></label>
<br><br><label>Date: <input type="text" required ng-model="$ctrl.date"></label>
<br><br>  Description:  &emsp;
  <textarea ID="area" class="in" required ng-model="$ctrl.description"
  style=" height: 200px; width:400px;">
</textarea> &emsp;&emsp;
<input  type= "submit"   value = "Create Event " style=" height: 60px; width:125px;" >

  </form>


 <div ng-show="$ctrl.loading">
   <p>
     Details of last event posted :
     <br>
      ID  :   {{$ctrl.idofevent}} ,
      Name : {{$ctrl.name}}
     Title  :  {{$ctrl.eventTitle}} ,
     Date  :  {{$ctrl.eventDate}},
     <br>Description :  {{$ctrl.eventDes}}
   </p>

<label> ID: <input type="text"  required ng-model="$ctrl._id"></label>
<button  ng-click="$ctrl.editEvent()"> Update Event </button>
<button ng-click="$ctrl.7agaba2a()"> Delete Event </button>
 </div>


</div>  
