
<div class="col-md-5">

    
    <div class="panel panel-default">

     
        <div class="panel-heading">
            <h2 class="panel-title text-center"> <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <div class="panel-body">


           
            <form name ="addForm" novalidate>

                
                <div class="form-group">
                    <label for="username">Service provider Name <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="Hero Gym" ng-model="formData.username" required>
                </div>
                <label class="radio control-label">Category</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                        Male(Trainer)
                    </label>
                </div>
                <div class="radio" required>
                    <label>
                        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                        Female(Trainer)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="radioother" value="Gym" ng-model="formData.gender">
                      Gym
                    </label>
                </div>
                <div class="form-group">
                    for How many years your business starts working (if Gym) or<br>
                     <label for="age">Age if Trainer</label>
                    <input type="number" class="form-control" id="age" placeholder="72" ng-model="formData.age" required>
                </div>
                <div class="form-group">
                    <label for="language">Email</label>
                    <input type="text" class="form-control" id="language" placeholder="herogym@gmail.com" ng-model="formData.favlang" required>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    
                    <label for="verified">HTML5 Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                </div>

    
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
                       

           
            </form>
        </div>
    </div>
</div>