<head><title>Home Page</title></head>


<li ng-class="{ active: isActive('/view')}"><a href="/#/view">View Service Provider profiles</a></li>
<li ng-class="{ active: isActive('/updatesp')}"><a href="/#/updatesp">Update My profile</a></li>
<li ng-class="{ active: isActive('/events')}"><a href="/#/events">View Events</a></li>
<li ng-class="{ active: isActive('/event')}"><a href="/#/event">Create Event</a></li>
<li ng-class="{ active: isActive('/schedule')}"><a href="/#/schedule">Post a schedule</a></li>
<li ng-class="{ active: isActive('/scheduleupdate')}"><a href="/#/scheduleupdate">Update existing schedule</a></li>
<li ng-class="{ active: isActive('/post')}"><a href="/#/post">Post Discussion</a></li>
<li ng-class="{ active: isActive('/review')}"><a href="/#/review">Rate and write Reviews</a></li>
<li ng-class="{ active: isActive('/search')}"><a href="/#/search">Search for service provider</a></li>
<li ng-class="{ active: isActive('/payment')}"><a href="/#/payment">Subscribe in a gym</a></li>
<li ng-class="{ active: isActive('/join')}"><a href="/#/join">Add your location on Mapp</a></li>
<li ng-class="{ active: isActive('/find')}"><a href="/#/find">Search for nearest service provider</a></li>
