<body>

<h1>{{headings}}</h1>

<div class= "app-updateprofile" >

<from>
name: <br>
<input type="text" ng-model="name"><br>
username: <br>
<input type="text" ng-model="username"><br>
password: <br>
<input type="text" ng-model="password"><br>
category: <br>
<input type="text" ng-model="category"><br>
ServiceOffered: <br>
<input type="text" ng-model="serviceoffered"><br>
schedule: <br>
<input type="text" ng-model="schedule"><br>

<button ng-click="updateprofile()">updateprofile</button>

</from>
</div>
