<head><title>Home Page</title></head>

<div> <a href =#/view > <button >View Service Provider profile</button> </a><br></div>
<div> <a href =#/updatesp > <button >Update Profile</button> </a><br></div>
<div> <a href =#/viewevent > <button >View Events</button> </a><br></div>
<div> <a href =#/event > <button >Create event</button> </a><br></div>
<div> <a href =#/schedule > <button >Post a schedule</button> </a><br></div>
<div> <a href =#/scheduleupdate > <button >Update existing schedule</button> </a><br></div>
<div> <a href =#/post > <button >Post Disscussion</button> </a><br></div>
<div> <a href =#/review > <button >Rate and write Reviews</button> </a><br></div>
<div> <a href =#/payment > <button >Subscribe in a gym</button> </a><br></div>